{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% load widget_tweaks %}
{% block content %}

    <div class="container" style="padding-left: 0px;padding-right: 0px;width: 1168px;margin-right: 200px;">
        {#        <form method="GET" class="search_area" style="width: 185px;margin-top: 23px;margin-left: 980px;">#}
        {#            <input class="form-control" type="text" name="daterange" value="{{ request.GET.daterange }}"/>#}
        {#        </form>#}

        <form method="GET" class="search_area" style="width: 185px;margin-top: 23px;margin-left: 980px;">
            <input id='data-url' class="form-control" type="text" name="daterange" value="{% url 'datanalyz' %}"/>
{#                        <button class="btn mt-2 btn-sm btn-success" type="submit">Search</button>#}
                <button id='data-analyz-btn' type="submit" class="btn btn-primary data-analyz" data-toggle="modal"
                    data-target="#myModal">
                        Data analyz
                </button>
{#            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal#}
{#            </button>#}
        </form>

        <button style="margin-top: 20px; height: 34px; font-size: 18px;color: #fff;background-color: #337ab7; border-color: #2e6da4;"
                onclick="goBack()">Geriyə
        </button>
        <table style="margin-top: 100px;" class="table table-bordered">
            <form>
                <thead style="background-color: #327ab7; font-size: 20px; color: white;border: 2px solid #327ab7;">
                <tr>
                    {% for i in month %}
                        <th style="border: 2px solid #327ab7" class="text-center"><a style="color:white;"
                                                                                     href="{% url 'all-data' i %}?number={{ id }}">{{ i }}</a>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody style="background-color: #efede0ad; font-size: 20px; color: black; border: 2px solid #327ab7;">
                <tr>
                    {% for i in result %}
                        <td style="border: 2px solid #327ab7" ; class="text-center">{{ i.data1 }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </form>
        </table>
    </div>
    <div class="container ajax-data">
        <!-- Button to Open the Modal -->

        {% comment %} <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
           Data analyz
        </button> {% endcomment %}


        <!-- The Modal -->
        <div class="modal fade " id="myModal grid-container">
            
        </div>

    </div>

{% endblock %}
{% block js %}

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker6').datetimepicker();
            $('#datetimepicker7').datetimepicker({
                useCurrent: false //Important! See issue #1075
            });
            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
    <script>
        $(function () {
            $("#datetimepicker1").datetimepicker({
                format: 'DD/MM/YYYY',
            });
        });
    </script>
    <script type="application/javascript">
        $(document).ready(function (e) {
            $(".btn-delete").click(function () {
                $(".delete_form").attr("action", $(this).attr("data-url"));
            });
        });
    </script>
    <script>
        $(function () {

            $('input[name="daterange"]').daterangepicker({
                opens: 'left',

                locale: {
                    cancelLabel: 'Clear',
                    format: 'YYYY-MM-DD',
                }
            }, function (start, end, label) {

                a = start.format('YYYY-MM-DD')
                b = end.format('YYYY-MM-DD')
            });
        });

        $(document).ready(function(){
	    $('.data-analyz').click(function(){
	    let data_type = $(this).data('type');
	    let data_container = $('.ajax-data');
	    let requested_url = $('#data-url').val();
	    $.ajax({
		    url:requested_url,
		    type:'GET',
		    data:{'data':data_type},
		    success:function(data){
		    	$("#grid-container").css("height", "auto");
		    	console.log(data)
		    	data_container.html(data);
		    },
		error:function(err){
			console.log(err)
		}
	})	
	})
});
    </script>
{% endblock %}
